@import "tailwindcss";

@theme {
  --font-sans: "Manrope", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
}

@utility font-logo {
  font-family: "Manrope", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
}

@utility icon {
  font-family: "Material Symbols Outlined";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
}
